* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

button {
    border: 0px;
}

.best-packages{
    background: #ECF1F0;
}

.best-packages > #title-wrapper {
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-packages #title{
    font-weight: 700;
    font-size: 40px;  
    font-family: 'Open Sans';
    font-style: normal;
    line-height: 54px;   
}

.best-packages > .packages{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 107px;
}

.packages > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    background: #00A651;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF
}

.packages > div:hover {
    cursor: pointer;
}

.best-packages > .cards{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.best-packages .one-card {
    position: relative;
}



.period-and-money{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}


h1{
    /* position: absolute; */
    width: 496px;
    height: 54px;
    /* left: 616px;
    top: 2490px; */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #000000;
}

.comments{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.81);
    margin-top: 18px;
    max-width: 360px;
}

.location-and-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
}
.tour-details{
    background: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    padding: 10px 13px 17px 13px;
    position: absolute;
    bottom:0;
    width: 100%;
}

.map-location{
    display: flex;
    flex-direction: row;
}

.country{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.know-more{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #000000;
}
.discover{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 98px;
    padding-bottom: 105px;
}

.discover > button {
    background: #00A651;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    height: 70px;
    width: 300px;
}

.discover > button:hover {
    cursor: pointer;
}

/* home page css code */

#home-page{
    color: aliceblue;
    height: 93vh;
    background-image: url(https://static.sadhguru.org/d/46272/1633199491-1633199490440.jpg);
}

#top-info{ 
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    width: 100%;
}

#top-left-info{
    text-align: center;
    display: flex;
    justify-content: space-around;

}

#top-left-info div{
    font-family: 'Laila';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    max-width: 50%;
    text-align: center;
    line-height: 20px;
}

#top-mid-info{
    display: flex;
}

#top-mid-info div{
    padding: 10px 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 27px;
}

#top-right-info{
    display: flex;
}

#top-right-info #right-info{
    Width:33.14px;
    Height:31.6px;
    padding: 8px;
}

#top-right-info #circle{
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 50%;
    border: 1px solid aliceblue; 
    Width: 23.14px;
    Height: 23.6px;
}

#centralised-info{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#mid-quote h1{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin: 150px 100px 10px 100px;
    width: 65%;
}

#our-role{
    margin: 5px;
    padding-top: 20px;
}

#our-role div{
    text-align: center;
    max-width: 500px;
}

.button {
    background-color: #00A651;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 25px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

/* second page css code */

#service-details{
    background-color: white;
    color: black;
    height: 70vh;
    margin-bottom: 35px;
}

#title{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 90px 396px 40px 396px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#add-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* content01 */

.info{
    /* border: 1px solid black; */
    background-color: #f5f2f2;
    margin: 50px;
    padding: 15px;
    border-radius: 15px;
}

#info-mid{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

#ticket-size{
    height: 15px;

}

#home-size{
    height: 18px;

}

#img-tour-plan{
    height: 20px;
}

.heading{
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.t1{
    font-size: 13px;
    font-weight: normal;
    /* max-width: 70%; */
}

/* content02 */

#service-content{
    top: 20px;
    background-color: rgba(0, 88, 83, 0.05);
    padding-top: 25px;
    height: 80vh;
    position: relative;
}

#world{
    position: absolute;
    z-index: 1;
    opacity: 1.32;
    width: 90%;
    height: 90%;
}

#best-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.moto{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 4px 0px;
    text-align: center;
    max-width: 35%;
}


#extra-top{
    padding-top: 20px;
    text-align: center;
    max-width: 45%;
}

.num-data{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 4px 0px;
}

.text-data{
    text-align: center;
    font-size: 12px;
    max-width: 70%;
}

#all-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    padding-top: 80px;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
}

#calender{
    width:15px;
    height: 26px;
}

#graph{
    width:17px;
    height: 26px;
}

#leaf{
    width:20px;
    height: 28px;
}

#box{
    width:20px;
    height: 15px;
}

#frame{
    width:20px;
    height: 28px;
}
.map{
    width: 723px;
    height: 772px;
    opacity: 0.6;
    padding-left: 75px;
}

.popular-destinations > #title-wrapper {
    height: 189px;
    display: flex;
    padding-left: 667px;
    align-items: center;
    justify-content: flex-start;
}

.popular-destinations  #section-title {
    font-weight: 700;
    font-size: 40px;  
    font-family: 'Open Sans';
    font-style: normal;
    line-height: 54px;   
}

.maps-and-destinations{
    display: flex;
    justify-content: space-between;
}

.three-countries{
    display: flex;
    flex-direction: column;
    padding-right: 250px;
}
.country{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 100px;
    column-gap: 100px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.08);
    border-radius: 15px;   
    margin-bottom: 42px; 
    padding-right: 50px;
}
.country > div{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}