#service-details{
    background-color: white;
    color: black;
    height: 100%;
    padding-bottom: 7.2rem;
}

#add-content{
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
}

/* content01 */

.info{
    width: 29rem;
    height: 15rem;
    background-color: #f5f2f2;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

#info-mid{
    background-color: #FFFFFF;
    box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem;
}

#ticket-size{
    height: 1.5rem;

}

#home-size{
    height: 1.8rem;

}

#img-tour-plan{
    height: 2rem;
}

.heading{
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.t1{
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.left-logo{
    margin-bottom: -1rem;
}

@media screen and (max-width: 950px) {
    #add-content{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 4rem;
        column-gap: 5rem;
    }
  }