#service-details{
    background-color: white;
    color: black;
    height: 100%;
    /* margin-bottom: 3.5rem; */
}

#title{
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    /* margin: 9rem 39.6rem 4rem 39.6rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    /* max-width: 100%; */
}


#title div{
    font-size: 4rem;
    line-height: 4rem;
}
#add-content{
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

/* content01 */

.info{
    /* border: 1px solid black; */
    width: 29rem;
    height: 15rem;
    background-color: #f5f2f2;
    /* margin: 5rem; */
    padding: 1.5rem;
    border-radius: 1.5rem;
}

#info-mid{
    background-color: #FFFFFF;
    box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem;
}

#ticket-size{
    height: 1.5rem;

}

#home-size{
    height: 1.8rem;

}

#img-tour-plan{
    height: 2rem;
}

.heading{
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.t1{
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.left-logo{
    margin-bottom: -1rem;
}