
.popular-destinations > #title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-destinations > #section-titles {
    font-weight: 700;
    font-size: 4rem;  
    font-family: 'Open Sans';
}

.maps-and-destinations{
    display: flex;
    justify-content: space-evenly;
    padding-top: 7.2rem;
    margin-bottom: 5.2rem;
}

#map-wrapper {
    width: 50%;
}

.three-countries{
    display: flex;
    flex-direction: column;
    row-gap: 4.2rem;
    width: 50%;
}
.country{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 10rem;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.08);
    border-radius: 1.5rem;   
    padding-right: 5rem;
    width: 85%;
    max-width: 50rem;
}

.country-img {
    height: 14rem;
}

.country > div{
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.7rem;
}

@media screen and (max-width: 992px){
    .maps-and-destinations{
        flex-direction: column;
    }
} 