#blue-box{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;  
}

#telegram{
    height: 3rem;
    width: 3rem;
}

#join-us{
    height: 40vh;
    width:65rem;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #d1f3ec;
    border-radius: 11rem 2rem 2rem 2rem;
}

#subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #5E6282;
    max-width: 75%;
    text-align: center;
}

#mail{
    display: flex;
    flex-direction: row;
}

.country{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.7rem;
    color: #000000;
}

.know-more{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-decoration-line: underline;
    color: #000000;
}
.discover{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9.8rem;
    padding-bottom: 10.5rem;
}

.discover > button {
    background: #00A651;
    border-radius: 1rem;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFFFF;
    height: 7rem;
    width: 30rem;
}

.discover > button:hover {
    cursor: pointer;
}

#social-media{
    padding-top: 6rem;
    display: flex;
    column-gap: 6rem;
    justify-content: center;
    align-items: center;
}

#travel-go{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.head-part{
    font-weight: bold;
    font-family: 'Laila', sans-serif;
    max-width: 50%;
    text-align: center;
}

.book-ticket{
    color: #5E6282;
    font-size: 1rem;
    max-width: 70%;
    margin-top: 1.5rem;
    line-height: 1.2rem;
}

.discover-app{
    color: #5E6282;
    font-size: 1.3rem;
}

#about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 10rem;
}

#contact {
    display: grid;
    row-gap: 1.5rem;
}

.socio-detail{
    color: #5E6282;
    font-size: 1rem;
    text-decoration: none;
}

.socio-info{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#fb-insta{
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

#play-app{
    padding-top: 1.5rem;

}

.fb-gram{
    height: 5.2rem;
    width: 5.2rem;
}

.fb-gram:hover{
    background-color:gray;
}

.i-gram:hover{
    background-color:gray;
}

.i-gram{
    background-color:rgb(250, 174, 187);
    border-radius: 50%;
    height: 3.9rem;
    width: 3.9rem;
}

.application{
    height: 4rem;
    width: 8rem;
}

.application:hover{
    background-color:gray;
}

#rights{
    text-align: center;
    padding-top: 5rem;
    color: #5E6282;
    font-size: 1rem;

}