#blue-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;  
}

#telegram{
    height: 3rem;
    width: 3rem;
}

#join-us{
    height: 40vh;
    width:65rem;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #d1f3ec;
    border-radius: 11rem 2rem 2rem 2rem;
}

#subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #5E6282;
    max-width: 75%;
    text-align: center;
}

#mail{
    display: flex;
    flex-direction: row;
}

.country{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.7rem;
    color: #000000;
}

.know-more{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-decoration-line: underline;
    color: #000000;
}
.discover{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9.8rem;
    padding-bottom: 10.5rem;
}

.discover > button {
    background: #00A651;
    border-radius: 1rem;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFFFF;
    height: 7rem;
    width: 30rem;
}

.discover > button:hover {
    cursor: pointer;
}

#social-media{
    padding-top: 6rem;
    display: flex;
    column-gap: 6rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
}

#travel-go{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.head-part{
    font-weight: bold;
    font-family: 'Laila', sans-serif;
    max-width: 50%;
    text-align: center;
    color: #000000;
}

.book-ticket{
    color: #5E6282;
    font-size: 1.2rem;
    max-width: 70%;
    text-align: initial;
    margin-top: 1.5rem;
    line-height: 1.5rem;
}

.discover-app{
    color: #5E6282;
    font-size: 1.5rem;
}

#about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 10rem;
}

#contact {
    display: grid;
    row-gap: 1.5rem;
}

.socio-detail{
    color: #5E6282;
    font-size: 1.5rem;
    text-decoration: none;
}

.socio-info{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#fb-insta{
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

#play-app{
    display: flex;
    padding-top: 1.5rem;

}

.fb-gram{
    height: 5.2rem;
    width: 5.2rem;
}

.fb-gram:hover{
    background-color:gray;
}

.i-gram:hover{
    background-color:gray;
}

.i-gram{
    background-color:rgb(250, 174, 187);
    border-radius: 50%;
    height: 3.9rem;
    width: 3.9rem;
}

.application{
    height: 4rem;
    width: 8rem;
    margin-left: 1rem;
}

.application:hover{
    background-color:gray;
}

#rights{
    text-align: center;
    color: #5E6282;
}

#lastLine{
    color: #5E6282;
    font-size: 1rem;
}    

@media screen and (max-width: 900px) {
    .head-part {
        max-width: 100%;
    }    
    .book-ticket {
        max-width: 100%;
    }
    #about {
        column-gap: 5rem;
    }
    #fb-insta {
        column-gap: 4rem;
    }
    #play-app {
        column-gap: 2rem;
        justify-content: center;

    }
    #social-media{
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        justify-content: center;
        align-items: center;
    }

    .discover-app {
        text-align: center;
    }
  }

@media screen and (max-width: 400px){
    #about {
        column-gap: 4rem;
    }
}

@media screen and (max-width: 400px){
    .book-ticket {
        max-width: 90%;
        text-align: center;
    }
}


@media screen and (max-width: 350px){
    #about {
        column-gap: 2.5rem;
    }
}

@media screen and (max-width: 325px){
    #about {
        column-gap: 1.9rem;
    }

    .socio-detail {
        font-size: 1.3rem;
    }    
}
