#latest-news{
    display: flex;
    justify-content: center;
    padding-top: 50px;  
}

#telegram{
    height: 30px;
    width: 30px;
}

#join-us{
    height: 40vh;
    width:650px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #d1f3ec;
    border-radius: 110px 20px 20px 20px;
}

#subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #5E6282;
    max-width: 75%;
    text-align: center;
}

#mail{
    display: flex;
    flex-direction: row;
}

#email-id-name{
    padding: 7px 10px;
    border: none;
    border-radius: 6px;
    border-color: none;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Femail-icon&psig=AOvVaw2qqHSa_k-qPtH9a2aG1bLt&ust=1674737133983000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLiH0ZHg4vwCFQAAAAAdAAAAABAH');
    background-repeat: no-repeat;
    padding-left: 40px;
}

#mail-image{
    height: 10px;
    padding-left: 10px;
}

#sub-gap{
    padding-right: 25px;
    padding-left: 10px;
    font-size: 9px;
}

#subscriber-button{
    padding-left: 5px;
}

#subscriber-button div{
    padding: 7px 16px;
    background-color:#00A651;
    border-radius: 7px;
    color: white;
    font-size: 12px;
}

#subscriber-button div:hover{
    background-color:rgb(102, 243, 102);
}

#stars{
    height: 100px;
    width: 1465px;
    left: 1529px;
}