#latest-news{
    display: flex;
    justify-content: center;
    padding-top: 5rem;  
}

#telegram{
    height:3rem;
    width:3rem;
}

#join-us{
    height: 30rem;
    width:65.0rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #d1f3ec;
    border-radius: 11.0rem 2rem 2rem 2rem;
}

#subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #5E6282;
    max-width: 75%;
    text-align: center;
    line-height: 3rem;
}

#mail{
    display: flex;
    flex-direction: row;
}

#email-id-name{
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 0.6rem;
    border-color: none;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Femail-icon&psig=AOvVaw2qqHSa_k-qPtH9a2aG1bLt&ust=1674737133983000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLiH0ZHg4vwCFQAAAAAdAAAAABAH');
    background-repeat: no-repeat;
    padding-left: 4rem;
}

#mail-image{
    height: 1rem;
    padding-left: 1rem;
}

#sub-gap{
    padding-right: 2.5rem;
    padding-left: 1rem;
    font-size: 0.9rem;
}

#subscriber-button{
    padding-left: 0.5rem;
}

#subscriber-button div{
    padding: 0.7rem 1.6rem;
    background-color:#00A651;
    border-radius: 0.7rem;
    color: white;
    font-size: 1.2rem;
}

#subscriber-button div:hover{
    background-color:rgb(102, 243, 102);
}

#stars{
    height: 10rem;
    width: 146.5rem;
    left: 152.9rem;
}