
.best-packages{
    background: #ECF1F0;
}

.best-packages > #title-wrapper {
    height: 16.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-packages #title{
    font-weight: 700;
    font-size: 4.0rem;  
    font-family: 'Open Sans';
    font-style: normal;
    line-height: 5.4rem;   
}

.best-packages > .packages{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10.7rem;
}

.packages > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.0rem;
    height: 6.0rem;
    background: #00A651;
    border-radius: 1.0rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 2.7rem;
    text-align: center;
    color: #FFFFFF
}

.packages > div:hover {
    cursor: pointer;
}

.best-packages > .cards{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.best-packages .one-card {
    position: relative;
}

.comments{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: rgba(0, 0, 0, 0.81);
    margin-top: 1.8rem;
    max-width: 36rem;
}

.location-and-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.3rem;
}
.tour-details{
    background: #FFFFFF;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    padding: 1.0rem 1.3rem 1.7rem 1.3rem;
    position: absolute;
    bottom:0;
    width: 100%;
}

.map-location{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.period-and-money{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.7rem;
}
