* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

button {
    border: 0px;
}

h1{
    /* position: absolute; */
    width: 496px;
    height: 54px;
    /* left: 616px;
    top: 2490px; */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

